<div class="campos">
	<div class="comprimento-4 primeiro">
		<%= f.label :dia_semana, 'Dia da Semana' %>
		<%= f.select :dia_semana, AgendaDisponibilidade.dias_semana %>
	</div>
	
	<div class="comprimento-4">
		<%= f.label :hora_inicial, 'Horário' %>
		<%= f.select :hora_inicial, Consulta.horas_consulta, {:selected => Consulta.formatar_hora_consulta(f.object.try(:hora_inicial))} %>
	</div>

	<%= link_to_remove_fields "remover", f %>
</div>

