<h1>Lista de Pacientes</h1>

<% if @pacientes and @pacientes.any? %>
	<table class="lista">
		<tbody>
			<% @pacientes.each do |paciente| %>
				<tr>
					<td>
						<div id="container">
							<div id="fixtext">
								<%=h paciente.pessoa.nome %>
							</div>
							<div id="fiximage">
								<a href="<%= paciente_path paciente %>">
									<img src="/images/listarsmall.png" alt="Listar">
								</a>
								<a href="<%= edit_paciente_path paciente %>">
									<img src="/images/atualizarsmall.png" alt="Listar">
								</a>
								<%= link_to "<img src='/images/removersmall.png' alt='Listar'>", paciente, :confirm => 'Deseja realmente remover?', :method=> :delete %>
							</div>
						</div>
					</td>
				</tr>
			<% end -%>
		</tbody>
	</table>
<% else %>
	<p>Não há pacientes cadastrados</p>
<% end -%>

<p>
	<%= link_to 'Cadastrar novo paciente', new_paciente_path %>
</p>