<h1>Lista de Consultas</h1>

<% if @consultas and @consultas.any? %>
	<table class="lista">
		<tbody>
			<% @consultas.each do |consulta| %>
				<tr>
					<td>
						<div id="container">
							<div id="fixtext">
								Paciente: <%= consulta.paciente.pessoa.nome %>
								- Data/Hora: <%= l consulta.data_consulta, :format => :medium %> 
							</div>
							<div id="fiximage">
								<a href="<%= consulta_path consulta %>">
									<img src="/images/listarsmall.png" alt="Listar">
								</a>
								<a href="<%= edit_consulta_path consulta %>">
									<img src="/images/atualizarsmall.png" alt="Listar">
								</a>
								<%= link_to "<img src='/images/removersmall.png' alt='Listar'>", consulta, :confirm => 'Deseja realmente remover?', :method=> :delete %>
							</div>
						</div>
					</td>
				</tr>
			<% end -%>
		</tbody>
	</table>
<% else %>
	<p>Não há consultas cadastradas</p>
<% end -%>

<p>
	<%= link_to 'Cadastrar nova consulta', new_consulta_path %>
</p>