<h1>Lista de Funcionários</h1>

<% if @funcionarios and @funcionarios.any? %>
	<table class="lista">
		<tbody>
			<% @funcionarios.each do |funcionario| %>
				<tr>
					<td>
						<div id="container">
							<div id="fixtext">
								<%=h funcionario.pessoa.nome %>
							</div>
							<div id="fiximage">
								<a href="<%= funcionario_path funcionario %>">
									<img src="/images/listarsmall.png" alt="Listar">
								</a>
								<a href="<%= edit_funcionario_path funcionario %>">
									<img src="/images/atualizarsmall.png" alt="Listar">
								</a>
								<%= link_to "<img src='/images/removersmall.png' alt='Listar'>", funcionario, :confirm => 'Deseja realmente remover?', :method=> :delete %>
							</div>
						</div>
					</td>
				</tr>
			<% end -%>
		</tbody>
	</table>
<% else %>
	<p>Não há funcionários cadastrados</p>
<% end -%>

<p>
	<%= link_to 'Cadastrar novo funcionário', new_funcionario_path %>
</p>