<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Libertas</title>
	<%= stylesheet_link_tag 'aplicacao' %>
	<%= stylesheet_link_tag 'login' %>
	
	<%= javascript_include_tag 'jquery-1.4.2.min'%>
	<%= javascript_include_tag 'application'%>
</head>
    <body id="login">
        <div id="centersquare">
          
	      <div id="logo">
	          <img src="images/logo_libertas.gif" alt="Libertas"/>
            </div>

	  	<div id="logsquare">
	  	  <%= yield %>
			</div>
<div id="texto">
Libertas provê o gerenciamento de um centro terapêutico de forma simples e centralizada.
O sistema permite ao administrador um maior controle sobre as consultas marcadas e da mesma forma permitirá aos pacientes verificar suas consultas de maneira simples e fácil através da internet.
</div>

</div>

<div id="bottominfo">
         Para mais informa&ccedil;&otilde;es acesse o site do
         <a href="http://www.libertas.com.br/novo/">Libertas</a>
    </div>

</body>
</html>